
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Poppins:wght@700;900&family=Roboto:wght@400;700&display=swap');
body{
    background-color: #e3edf7;
}
*{
    
    box-sizing: border-box;
 
}
.text-family{
    font-family: 'Kalam', cursive!important;
}
.text-family1{
    font-family: 'Poppins', sans-serif;
}

.text-family2{
    font-family: 'Roboto', sans-serif;
} 

.header{
    left: 0;
    z-index: 9999;
    font-family: 'Kalam', cursive!important;
    background-image: linear-gradient(179deg, #e3edf7 0%, white 100%);
    -webkit-box-shadow: -5.657px -5.657px 10px 0px rgb(245 249 252 / 0%), 4.096px 2.868px 15px 0px rgb(127 163 199 / 30%);
    box-shadow: -5.657px -5.657px 10px 0px rgb(245 249 252 / 0%), 4.096px 2.868px 15px 0px rgb(127 163 199 / 30%);
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    /* font-size: 25px; */
    font-weight: 700;
    text-align: center;
    padding: 10px;
    line-height: 1.2;
}
.footer{

    left: 0;
    z-index: 9999;
    font-family: 'Kalam', cursive!important;
    background-image: linear-gradient(179deg, #e3edf7 0%, white 100%);
    -webkit-box-shadow: -5.657px -5.657px 10px 0px rgb(245 249 252 / 0%), 4.096px 2.868px 15px 0px rgb(127 163 199 / 30%);
    box-shadow: -5.657px -5.657px 10px 0px rgb(245 249 252 / 0%), 4.096px 2.868px 15px 0px rgb(127 163 199 / 30%);
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    /* font-size: 25px; */
    font-weight: 700;
    text-align: center;
    padding: 10px;
    line-height: 1.2;
    background: #e3edf7;
    border-radius: 5px;
    display: flex;
    -webkit-box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
}
.footer div{
    width: 25%;
}
.footer div a{
    font-size: 20px;
    color: #e70280;
    text-decoration: none;
}
.text-color1{
    color:#08203a;
}
.text-color2{
    color:#e70280;
}
.content-wrap{
    background: linear-gradient(103deg, #e3edf7, #ffffff);
    -webkit-box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
    border-radius: 5px;
    padding: 0 20px;
    position: relative;
    margin-top: 77px;
}
.content-wrap1{
    background: linear-gradient(103deg, #e3edf7, #ffffff);
    -webkit-box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
    border-radius: 5px;
    padding: 0 20px;
    position: relative;
    margin-top: 15px;
}
.img1{
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    height: 100%;
   
}
.live-update,.result-update{
    font-size: 30px!important;
    font-weight: 700;
    line-height: 1.2;
    color:#08203a;
    text-shadow: 2px 6px #c4c4ed;
}
.img2{
    position: absolute;
    left: 15%;
    top: 44px;
    -webkit-animation: apihuPortUpsDown 5s infinite linear alternate;
    animation: apihuPortUpsDown 5s infinite linear alternate;
}

@keyframes apihuPortUpsDown {
    
 
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.bedage{
    position: absolute;
    right: 43%;
    top: 25%;
    transform: translate(288%, -48%);
    font-weight: 700;
    font-family: 'Kalam', cursive!important;

    width: 34px;
    height: 30px;
    border-radius: 10px;
  
    text-align: center;
    margin-bottom: 22px;
    /* -webkit-box-shadow: inset -3px -2px 5px 0px rgb(255 255 255 / 66%), inset -1px -1px 0px 0px rgb(255 255 255 / 18%), inset 2px 2px 7px 0px rgb(49 69 106 / 18%);
    box-shadow: inset -3px -2px 5px 0px rgb(255 255 255 / 66%), inset -1px -1px 0px 0px rgb(255 255 255 / 18%), inset 2px 2px 7px 0px rgb(49 69 106 / 18%); */
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-animation: ani1 3s infinite linear alternate;
    animation: ani1 3s infinite linear alternate;
}

@keyframes ani1 {
    
 
    0% {
        /* -webkit-transform: translateY(0); */
        /* transform: translateY(0); */
         color: #e70280;
    }
    25% {
        /* -webkit-transform: translateY(0); */
        /* transform: translateY(0); */
         color: pink;
    }
    50% {
        color: green;
        /* -webkit-transform: translateY(20px); */
        /* transform: translateY(20px); */
    }
    75% {
        color: darkblue;
        /* -webkit-transform: translateY(20px); */
        /* transform: translateY(20px); */
    }
    85% {
        color: yellow;
        /* -webkit-transform: translateY(20px); */
        /* transform: translateY(20px); */
    }
   100% {
    color:#08203a;
        /* -webkit-transform: translateY(0);  */
        /* transform: translateY(0); */
    }
}
.text-center{
    text-align: center;
}
.py-3{
    padding: 8px
}
.mr-2{
    margin-right: 5px;
}
.result-update{
    color: #e70280;
    font-size: 24px!important;
    font-family: 'Kalam', cursive!important;
}
.result-div {
    padding: 8px;
}
.result-div h2{
    margin: 0px;
}
.result-div h3{
    margin: 0px;
}

.result-div p{
    font-size: 22px;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
    color: #08203a;
}
 table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
 }
 table tr th,table tr td{
    border: 1px solid #e1e1e1;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
 }
 .p-0{
    padding: 0!important;
 }
 table tr:nth-child(even){
    background-color: #e70280;
    color: #ffff;
 }
 table tr:nth-child(odd){
 
    color: #08203a;
 }
 .link
 {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
  color: #08203a;
    text-decoration: none;
    font-weight:700;
    font-size: 18px;
 }
 
 .active{
    background: linear-gradient(103deg, #e3edf7, #ffffff);
    -webkit-box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    border-radius: 5px;
 }
 .aspan{
    display: block;
    font-size: 15px;
 }
 .foot{
    margin-top: 10px;
    position: relative;
    padding-top: 34px;
    margin-bottom: 86px;
 }
 .foot > p{
    text-align: center;
    padding: 18px;
    border-top: 1px solid #08203a21;
    font-family: 'Roboto', sans-serif;
 }
 .foot img{
    width: 100%;
 
    object-fit: cover;
    z-index: -99;
 }
 .accordion{
    margin-top: 15px;
 
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
 }
 .accordion div{
    background: linear-gradient(103deg, #e3edf7, #ffffff);
 }