
 
body{
    background-color: #e3edf7;
    font-family: 'Roboto', sans-serif;
}
*{
    
    box-sizing: border-box;
 
}
.text-family,.gamezone,.zone-menu{
    font-family: 'Kalam', cursive!important;
}
.text-family1{
  font-family: 'Roboto', sans-serif;
}

.text-family2{
    font-family: 'Roboto', sans-serif;
} 

.header{
    left: 0;
    z-index: 9999;
    font-family: 'Kalam', cursive!important;
    background-image: linear-gradient(179deg, #e3edf7 0%, white 100%);
    -webkit-box-shadow: -5.657px -5.657px 10px 0px rgb(245 249 252 / 0%), 4.096px 2.868px 15px 0px rgb(127 163 199 / 30%);
    box-shadow: -5.657px -5.657px 10px 0px rgb(245 249 252 / 0%), 4.096px 2.868px 15px 0px rgb(127 163 199 / 30%);
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    /* font-size: 25px; */
    font-weight: 700;
    text-align: center;
    padding: 10px;
    line-height: 1.2;
}
.footer{

    left: 0;
    z-index: 9999;
    font-family: 'Kalam', cursive!important;
    background-image: linear-gradient(179deg, #e3edf7 0%, white 100%);
    -webkit-box-shadow: -5.657px -5.657px 10px 0px rgb(245 249 252 / 0%), 4.096px 2.868px 15px 0px rgb(127 163 199 / 30%);
    box-shadow: -5.657px -5.657px 10px 0px rgb(245 249 252 / 0%), 4.096px 2.868px 15px 0px rgb(127 163 199 / 30%);
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    /* font-size: 25px; */
    font-weight: 700;
    text-align: center;
    padding: 10px;
    line-height: 1.2;
    background: #e3edf7;
    border-radius: 5px;
    display: flex;
    -webkit-box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
}
.footer div{
    width: 25%;
}
.footer div a{
    font-size: 20px;
    color: #e70280;
    text-decoration: none;
}
.text-color1{
    color:#08203a;
}
.text-color2{
    color:#e70280;
}
.content-wrap{
    background: linear-gradient(103deg, #e3edf7, #ffffff);
    -webkit-box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
    border-radius: 5px;
    padding: 0 20px;
    position: relative;
    margin-top: 77px;
}
.content-wrap1,.content-wrap2,.link-zone{
    background: linear-gradient(103deg, #e3edf7, #ffffff);
    -webkit-box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
    border-radius: 5px;
    padding: 0 20px;
    position: relative;
    margin-top:12px;
}


.img1{
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    height: 100%;
    opacity: .4;
   
}
.live-update,.result-update,.gamezone{
    font-size: 30px!important;
    font-weight: 700;
    line-height: 1.2;
    color:#08203a;
    text-shadow: 2px 6px #c4c4ed;
}
.img2{
    position: absolute;
    left: 15%;
    top: 44px;
    -webkit-animation: apihuPortUpsDown 5s infinite linear alternate;
    animation: apihuPortUpsDown 5s infinite linear alternate;
}

@keyframes apihuPortUpsDown {
    
 
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.bedage{
    position: absolute;
    right: 43%;
    top: 25%;
    transform: translate(288%, -48%);
    font-weight: 700;
    font-family: 'Kalam', cursive!important;

    width: 34px;
    height: 30px;
    border-radius: 10px;
  
    text-align: center;
    margin-bottom: 22px;
    /* -webkit-box-shadow: inset -3px -2px 5px 0px rgb(255 255 255 / 66%), inset -1px -1px 0px 0px rgb(255 255 255 / 18%), inset 2px 2px 7px 0px rgb(49 69 106 / 18%);
    box-shadow: inset -3px -2px 5px 0px rgb(255 255 255 / 66%), inset -1px -1px 0px 0px rgb(255 255 255 / 18%), inset 2px 2px 7px 0px rgb(49 69 106 / 18%); */
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-animation: ani1 3s infinite linear alternate;
    animation: ani1 3s infinite linear alternate;
}

@keyframes ani1 {
    
 
    0% {
        /* -webkit-transform: translateY(0); */
        /* transform: translateY(0); */
         color: #e70280;
    }
    25% {
        /* -webkit-transform: translateY(0); */
        /* transform: translateY(0); */
         color: pink;
    }
    50% {
        color: green;
        /* -webkit-transform: translateY(20px); */
        /* transform: translateY(20px); */
    }
    75% {
        color: darkblue;
        /* -webkit-transform: translateY(20px); */
        /* transform: translateY(20px); */
    }
    85% {
        color: yellow;
        /* -webkit-transform: translateY(20px); */
        /* transform: translateY(20px); */
    }
   100% {
    color:#08203a;
        /* -webkit-transform: translateY(0);  */
        /* transform: translateY(0); */
    }
}
.text-center,.gamezone{
    text-align: center!important;
}
.py-3,.gamezone{
    padding: 8px
}
.mr-2{
    margin-right: 5px;
}
.result-update,.gamezone{
    color: #e70280;
    font-size: 24px!important;
    font-family: 'Kalam', cursive!important;
}
.result-div,.zone-menu {
    padding: 8px;
}
.result-div h2{
    margin: 0px;
}
.result-div h3{
    margin: 0px;
}

.result-div p{
    font-size: 22px;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
    color: #08203a;
}
.zone-menu{
    padding:8px;
    text-align: center;
}
.block{
    display: block;
}
 /* table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
 }
 table tr th,table tr td{
    border: 1px solid #e1e1e1;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
 }
 .p-0{
    padding: 0!important;
 }
 table tr:nth-child(even){
    background-color: #e70280;
    color: #ffff;
 }
 table tr:nth-child(odd){
 
    color: #08203a;
 } */
 .link,.link-zone
 {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
  color: #08203a;
    text-decoration: none;
    font-weight:700;
    font-size: 18px;
    display: block;
 }
 .link-zone{
    padding:8px;
 }
 
 .active{
    background: linear-gradient(103deg, #e3edf7, #ffffff);
    -webkit-box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    border-radius: 5px;
    padding: 6px;
 }
 .aspan{
    display: block;
    font-size: 12px;
    margin: -5px;
 }
 .foot{
    margin-top: 10px;
    position: relative;
    padding-top: 10px;
    margin-bottom: 86px;
 }
 .foot > p{
    text-align: center;
    padding: 10px;
    border-top: 1px solid #08203a21;
    font-family: 'Roboto', sans-serif;
   
 }
 .foot p{
    text-align: justify;
 }
 .foot img{
    width: 100%;
 
    object-fit: cover;
    z-index: -99;
 }
 .text-red{
    color: red;
 }
 .accordion{
    margin-top: 15px;
 
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
 }
 .accordion div{
    background: linear-gradient(103deg, #e3edf7, #ffffff);
 }
 .text-justify{
    text-align: justify!important;
 }
 .content-wrap1 div{
    padding:15px 0px!important;
 }
 .px-3{
    padding: 15px ;
 }
 .relative{
    position: relative;
 }
 .m-auto{
    margin: auto;

 }
 .mt-5{
    margin-top: 5px;
 } 
 .mt-10{
    margin-top: 5px;
 }
 .mt-15{
    margin-top: 5px;
 }
 .mt-20{
    margin-top: 5px;
 }
.py-20{
  padding: 20px;
}
 .css-11xur9t-MuiPaper-root-MuiTableContainer-root
 {
    background-image: linear-gradient(179deg, #e3edf7 0%, white 100%);
    box-shadow: -5.657px -5.657px 10px 0px rgb(245 249 252 / 0%), 4.096px 2.868px 15px 0px rgb(127 163 199 / 30%)!important;
    margin:20px 0px;
 }
 .jodi_number{
    font-size: 18px!important;
 }
 .time{
    color: #035605!important;
    font-size: 12px!important;
    margin-top: 5px!important;
}
 

 .guessing-forum{
    margin-top: 50px;
    color: #e70280;
    font-size: 24px!important;
    font-family: 'Kalam', cursive!important;
 }
 .container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:576px){.container,.container-sm{max-width:540px}}@media (min-width:768px){.container,.container-md,.container-sm{max-width:720px}}@media (min-width:992px){.container,.container-lg,.container-md,.container-sm{max-width:960px}}@media (min-width:1200px){.container,.container-lg,.container-md,.container-sm,.container-xl{max-width:1140px}}

 .button{
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
 
    line-height: 1.5;
    color: #ffffff;
    background: linear-gradient(-141deg, #590fb7, #ff0076);
    width: 120px;
    height: 40px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
 }
 .button::before{
    background: -webkit-gradient(linear, left bottom, right top, from(#ff0076), to(#590fb7));
    background: linear-gradient(to top right, #ff0076, #590fb7);
    -webkit-box-shadow: -4px -3px 8px 0px rgb(122 247 169 / 25%), 5px 5px 15px 0px rgb(100 14 179 / 30%);
    box-shadow: -4px -3px 8px 0px rgb(122 247 169 / 25%), 5px 5px 15px 0px rgb(100 14 179 / 30%);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: -1;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  
 }
 .button:hover
 {
    background: linear-gradient(103deg, #e3edf7, #ffffff);
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
 }
 a{
    color: inherit;
    text-decoration: none;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
 }


 .emoji_img,.guessing-button{
    cursor: pointer;
        margin: 0px 5px;
    /* border: 1px solid #dbcece; */
    padding: 5px;
    border-radius: 3px;
    -webkit-box-shadow: inset -3px -2px 5px 0px rgb(255 255 255 / 66%), inset -1px -1px 0px 0px rgb(255 255 255 / 18%), inset 2px 2px 7px 0px rgb(49 69 106 / 18%);
    box-shadow: inset -3px -2px 5px 0px rgb(255 255 255 / 66%), inset -1px -1px 0px 0px #30a2ef8a, inset 2px 2px 7px 0px rgb(98 143 225 / 18%);
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #08203a;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 22px;
    display: inline-block;
 }
 .guessing-content{
    border: 2px solid #008a00;
    background: linear-gradient(103deg, #e3edf7, #ffffff);
    -webkit-box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
    box-shadow: -6px -6px 10px 0px #f5f9fc, 4px 3px 15px 0px rgb(127 163 199 / 30%);
    border-radius: 5px;
     margin: 15px 5px;
     font-weight: 600;
 }
 .guessing-heading{
    text-transform: capitalize;
    padding: 5px 10px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #ffffff;
    background: linear-gradient(-141deg, #07bc0c, #008a00);
    border-radius: 3px;
    transition: all 0.3s ease-in;
     
}
.clearfix::after{display:block;clear:both;content:""}

 .float-left{
    float: left;
 }
 .float-right{
    
    float: right;
  }
  .guessing-content .date{
    font-size: 14px;
    font-weight: 400!important;
  }
  .bold{
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffff;
  }
  .text-capitalize{
    text-transform: capitalize;
  }
  .guessing-footer{
    background: #06ad0630;
    padding: 5px;
    font-size: 14px;
    color: black;
  }

  .ck-reset{
    /* display: none!important; */
  }
  .ql-toolbar{
    display: none;
  }
  .ql-container.ql-snow{
    border: 1px solid #ccc!important;
    border-radius: 5px;
    text-align: center;
  }
  p{
    margin: 0!important;
    padding:5px!important;
  }
.py-15{
 padding: 15px !important;
}
  .ql-editor{
text-align: center!important;
white-space:normal!important;
 
  }

  .text-uppercase{
    text-transform: uppercase;
  }
 .m-0{
    margin:0px;
 }
 .mt-10{
    margin-top: 10px;
 }
 .d-flex{
    display: flex;
 }
 .justify-content-around{
    justify-content: space-around;
 }
 .top-users{
    font-size: 16px;
    justify-content: space-between;
    padding: 8px 0px;
    border-bottom: 1px solid #dfdfdf7a;
    text-transform: capitalize;  
      font-family: "Roboto", sans-serif;
    
}
 
.search{
    width: 70%;
    display: block;
    margin: auto;
    padding: 10px;
    /* margin: 0px 0px 12px; */
    box-shadow: inset -3px -2px 5px 0px #c8dcf100, inset -1px -1px 0px 0px rgb(0 135 227 / 72%), inset 2px 2px 7px 0px #79aee3;
    border: white;
    border-radius: 4px;
}
.search:focus{
 
    outline:none!important;
}

/* Basic editor styles */
.ProseMirror {
    border: 1px solid #bdbdbdb5;
    border-radius: 5px;
  
    overflow: hidden;
    scroll-behavior: auto;
  }
  .ProseMirror:focus-visible {
outline: none!important;
  }
.red-00,.red-05,.red-11,.red-16,.red-22,.red-27,.red-33,.red-38,.red-44,.red-49,.red-55,.red-50,.red-66,.red-61,.red-77,.red-72,.red-88,.red-83,.red-99,.red-94{
    color: red!important;
}
.topdown{
    position: fixed;
    bottom: 85px;
    right: 11px;
    background: linear-gradient(-141deg, #590fb7, #ff0076);
    color: #fff;
    border-radius: 50%;
    /* padding: 18px 8px; */
    width: 45px;
    height: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 11px;
    font-weight: 900;
    cursor: pointer;
}
 .topdown svg{
    font-weight: 900;
 }
 .topdownload{
  position: fixed;
  left: 1px;
 
  color: #fff;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 11px;
  font-weight: 900;
  cursor: pointer;
  bottom:66px;

 }
 .topdownload img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
 }
  .emoji{
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
 
  }
  .MuiBox-root{
    padding: 5px !important;
  }
  .footlink a{
    color: #135ee7;
  }
  .yes{
    background: #f1c40f!important;
  }
  .heading-expert{
    font-size: 26px!important;
    text-shadow: 1px 0px silver;
    color: blue;
  font-weight: 700px!important;
  }
  .expert-subheading{
    font-size: 18px!important;
    text-shadow: "1px 0px silver";
    color: red;
    font-weight:700px!important;
    text-align: center;
    word-spacing: 0;
    text-align: center;
    /* style={{
        fontSize: "15px!important",
        textShadow: "1px 0px silver",
        marginTop: "px",
        fontWeight: "700!important",
        textAlign:"center",
        fontFamily: "kalam,",
        color: "red",
        wordSpacing:0,
      }} */
  }
  .mb-0{
    margin-bottom: 0px!important;
  }
  .fs-20{
    font-size: 22px!important;
  }
  .guessing-content p{
    line-height: 16px!important;
  }

  .py-20{
    padding:20px!important;
  }
  .whats h3{
    background: white;
    padding: 9px;
    margin: -4px;
    color: #e70280;
    margin-bottom: 5px;
  }

  .click-btn{
    font-size: 18px;
    padding: 8px 25px;
    border-radius: 5px;
    border: magenta;
    cursor: pointer;
}
 
.p-0{
  padding: 5px 0px !important;
}
.justify{
  text-align: justify!important;
}
.fon14{
  font-size: 14px;
 
}
.line-height{
  line-height: 1.3;
}
.alink{
  text-transform: capitalize;
  color: blue;
}